*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #151A30;
    font-family: 'Poppins', sans-serif;
}

#root{
    min-height: 100vh;
    margin: 0 auto;
    position: relative;
}

/* #FF0BE9 
#6B11FF
#F56E1D
#16B1FF
#8020FA */